
[Unit]
Description=Sample App

[Service]
WorkingDirectory=/var/www/laravel
ExecStart=/usr/bin/php7.4 /var/www/laravel/artisan serve --port=1213
RestartSec=10 # Restart service after 10 seconds if the dotnet service crashes:
SyslogIdentifier=laravel-sample

[Install]
WantedBy=multi-user.target

service nginx restart